<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{##}
{#    <ul>#}
{#        {% for v in SERVER_LIST.values %}#}
{#            <li><a href="#">{{ v.name}}</a></li>#}
{#        {% endfor %}#}
{#    </ul>#}

    <ul>
        <!-- 遍历字典SERVER_LIST的items，取得其key和values -->
        <!-- SERVER_LIST会被替换为视图函数中的字典SERVER_LIST，其key为数字，value是一个字典 -->
        {% for k,v in SERVER_LIST.items %}
            <!-- 此处仅显示v.name,其超链接将调转到/detail页面 -->
            <!-- 比如，/detail?id=1，意为：在/detail页面上有个查询参数id=1，将会送至服务器端-->

            <!-- 此时是跳转到 /detail-1, /detail-2等 -->
            <li><a href="/detail-{{ k }}">{{ v.name}}</a></li>
        {% endfor %}
    </ul>






{#    <table border="1px solid gray">#}
{#        <thead>#}
{#            <th>#}
{#                <td>NAME</td>#}
{#                <td>IP</td>#}
{#            </th>#}
{#        </thead>#}
{#        <tbody>#}
{#        <tr>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#        </tbody>#}
{#    </table>#}

</body>
</html>